*{
    margin: 0;
    padding: 0;
}

:root{
    --colorPrimario1: #12303e;
    --colorPrimario2: #2D2D2C;
    --colorSecundario1: #636363;
    --colorSecundario2: #8A8A8A;
    --colorSecundario3: #B9B9B9;
    --colorSecundario4: #DADADA;
    --colorBase1: #F8F8F8;
    --colorBase2: #1F1E1E;

    --tipography1: "Montserrat Alternates", sans-serif;
    --tipography2:  "Familjen Grotesk", sans-serif;

}

body{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--colorBase1);
}

header{
    width: 100%;
    background-image: url(/assets/video/img-gif2.jpg);
    background-size: cover;
}

nav{
    display: flex;
}

nav img{
    margin-left: 2%;
    margin-top: 2%;
}

.menu{
    width: 70%;
    font-family: var(--tipography1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10%;
}

.contact-color{
    background-color: var(--colorPrimario1);
    color: white;
    padding: 4px 16px;
}

.contact-color a{
    color: var(--colorBase1);
}

.contact-color2 a{
    color: var(--colorBase2);
}

.contact-color2{
    background-color: var(--colorSecundario4);
    color: var(--colorBase1);
    padding: 4px 16px;
}

a{
    text-decoration: none;
}
.hero{
    display: flex;
}

.card-hero{
    font-family: var(--tipography1);
    padding: 8px;
    width: 70%;
    margin: 16px 40px 16px 0px;
    color: var(--colorBase1);
    backdrop-filter: blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
}

.card-hero h3{
    font-size: 32px;
    margin-bottom: -16px;
}

.card-hero h1{
    font-size: 64px;
}

.card-profile{
    color: var(--colorBase1);
    padding: 16px;
    width: 70%;
    margin-left: -16px;
}

.card-profile button{
    all: unset;
    background-color: var(--colorPrimario1);
    color: var(--colorBase1);
    font-family: var(--tipography1);
    font-weight: bolder;
    padding: 8px;
    margin-top: 8px;
    border-radius: 4px;
}

.icons-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons-contact img{
    padding: 8px;
}


.about{
    font-family: var(--tipography2);
}

.info-about{
    text-align: center;
    justify-content: center;
    margin: 24px;
}

.cuadrado{
    height: 12px;
    width: 20%;
    margin-left: 40%;
    background-color: var(--colorPrimario1);
}

.info-about h2{
    font-size: 32px;
    margin-bottom: -16px;
}

.info-about h1{
    font-size: 64px;
}

.info-about p{
    padding: 16px;
}

.companies{
    text-align: center;
    justify-content: center;
    font-size: 20px;
}

.img-companies{
    display: flex;
    align-items: center;
}

.img-company{
    margin: 6px;
}

.Projects{
    font-family: var(--tipography2);
}

.info-projects{
    text-align: center;
    justify-content: center;
    margin: 24px;
    font-size: 64px;
    padding-bottom: 16px;
}

.card-design1{
    margin: 16px;
    background-image: url(/assets/projects/img-ramo.png);
    background-size: cover;
    height: 23vh;
    display: flex;
    justify-content: end;
    align-items: end;
    
}

.card-design1 button{
    all: unset;
    color: var(--colorBase1);
    background-color: var(--colorPrimario1);
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    
}

.card-design2{
    margin: 16px;
    background-image: url(/assets/projects/img-saggio.png);
    background-size: cover;
    height: 23vh;
    display: flex;
    justify-content: end;
    align-items: end;
}

.card-design2 button{
    all: unset;
    color: var(--colorBase1);
    background-color: var(--colorPrimario1);
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
}

.card-design3{
    margin: 16px;
    background-image: url(/assets/projects/img-ecocloset.png);
    background-size: cover;
    height: 23vh;
    display: flex;
    justify-content: end;
    align-items: end;
    
}

.card-design3 button{
    all: unset;
    color: var(--colorBase1);
    background-color: var(--colorPrimario1);
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
}

.card-design4{
    margin: 16px;
    background-image: url(/assets/projects/img-bds.png);
    background-size: cover;
    height: 23vh;
    display: flex;
    justify-content: end;
    align-items: end;
}

.card-design4 button{
    all: unset;
    color: var(--colorBase1);
    background-color: var(--colorPrimario1);
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
}

button:hover{
    background-color: var(--colorBase2);
}

.Skills{
    font-family: var(--tipography2);
}

.info-skills{
    text-align: center;
    justify-content: center;
    margin: 24px;
    padding-bottom: 16px;
}

.info-skills h1{
    font-size: 64px;
}

.tools{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--tipography1);
}

.img-tools img{
    padding: 8px;
}

.design-tools{
    margin-top: 32px;
    margin-bottom: 32px;
}

.Education{
    font-family: var(--tipography2);
    text-align: center;
    justify-content: center;
    margin: 24px;
    padding-bottom: 16px;
}

.info-education h1{
    font-size: 64px;
}

.card-education{
    background-color: var(--colorSecundario4);
    padding: 16px;
    margin: 16px;
    border-radius: 16px;
}

.Education h2{
    font-size: 32px;
}

.card-certificates{
    display: flex;
    flex-direction: row;
}

.card-cerf{
    background-color: var(--colorSecundario4);
    padding: 16px;
    margin: 8px;
    border-radius: 16px;
    width: 50%;
}

footer{
    background-color: var(--colorPrimario1);
    display: flex;
}

.info-contact{
    font-family: var(--tipography2);
    color: var(--colorBase1);
    margin: 24px;
    margin-right: 80px;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes img{
    margin: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1024px){

    .menu{
        width: 90%;
        font-size: 20px; 
    }

    .contact-color{
        margin-top: 16px;
        padding: 16px 32px;
    }
    
    .contact-color2{
        margin-top: 16px;
        padding: 16px 32px;
    }

    .card-hero{
        padding-left: 40px;
        padding-top: 40px;
        width: 60%;
        margin-right: 100px;
    }

    .card-profile{
        padding: 40px;
        width: 70%;
        margin-left: -40px;
        font-size: 32px;
    }
    .info-about p{
        font-size: 20px;
    }
    .companies{
        font-size: 40px;
    }
    .companies img{
        width: 120px;
    }
    .card-design1{
        height: 40vh;
    }
    .card-design2{
        height: 40vh;
    }
    .card-design3{
        height: 40vh;
    }
    .card-design4{
        height: 40vh;
    }
    .card-design1 button{
        font-size: 24px;
    }
    .card-design2 button{
        font-size: 24px;
    }
    .card-design3 button{
        font-size: 24px;
    }
    .card-design4 button{
        font-size: 24px;
    }
    .info-skills p{
        font-size: 20px;
    }
    .tools-design{
        width: 80%;
    }
    .tools-design img{
        width: 100px;
        margin: 16px;
    }
    .card-education{
        font-size: 32px;
    }
    .card-education img{
        width: 80px;
    }

    .card-certificates{
        font-size: 32px;
    }
    .card-certificates img{
        width: 80px;
    }

    footer{
        font-size: 32px;
    }
    .redes{
        margin-left: 150px;
    }
    .redes img{
        width: 50px;
    }
}

@media screen and (min-width: 1024px){
    header{
        height: 60vh;
    }
    .menu{
        font-size: 32px; 
    }
    .card-hero{
        width: 50%;
        margin-right: 300px;
    }

    .info-about img{
        width: 40%;
    }

    .img-projects{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .Projects img{
        width: 40%;
    }

    .card-design1{
        height: 30vh;
    }
    .card-design2{
        height: 30vh;
    }
    .card-design3{
        height: 30vh;
    }
    .card-design4{
        height: 30vh;
    }

    .Skills img{
        width: 40%;
    }

    .tools-design{
        font-size: 40px;
    }

    .img-tools img{
        width: 150px;
    }

    .Education img{
        width: 40%;
    }

    .card-education img{
        width: 120px;
    }

    .redes{
        margin-left: 350px;
    }
}